* {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content {
    text-align: center;
}

.not-found-image {
    width: 500px;
}