* {
    font-family: 'Roboto', sans-serif;
}

footer {
    margin-top: 1rem;
}

.container {
    display: flex;
    justify-content: center;
}

.container a {
    text-decoration: none;
    color: black;
}

.container a:hover {
    color: blueviolet;
}