<div class="container">
    <div class="page-content">
        <div class="logo">
            <img src="../../assets/git-finder logo.png" class="img-fluid" alt="git-finder logo">
        </div>
        <div class="call-to-action">
            <p><span id="larger-text">Welcome to <strong>git-finder,</strong> </span><br>your very own github search tool.</p>
        </div>
        <div class="begin-button">
            <button class="btn btn-secondary" routerLink="search">Begin search!</button>
        </div>
    </div>
</div>