<div class="container">
    <div class="page-content">
        <div class="logo">
            <img src="https://github.com/Ken-mbira/Git-finder/blob/master/src/assets/git-finder%20logo.png?raw=true" class="img-fluid" alt="git-finder logo">
        </div>
        <div class="call-to-action">
            <p><span id="larger-text">Welcome to <strong>git-finder,</strong> </span><br>your very own github search tool.</p>
        </div>
        <div class="begin-button">
            <button class="btn btn-secondary" routerLink="/profile">Begin search!</button>
        </div>
        <app-footer></app-footer>
    </div>
</div>