<app-extra-search></app-extra-search>
<div class="container">
    <div class="page-content">
        <div class="card">
            <div class="profile-pic">
                <img src="../../assets/sad icon.png" alt="user pic">
            </div>
            <div class="user-info" style="font-size: 3vmin;">
                <ul>
                    <li>
                        <p><strong>Username:</strong></p>
                    </li>
                    <li>
                        <p><strong>Bio:</strong></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="profile-details">
            <div class="btn-group" style="width:100%">
                <button class="btn btn-secondary">Repos <span class="badge badge-secondary">4</span></button>
                <button class="btn btn-secondary">Followers <span class="badge badge-secondary">4</span></button>
                <button class="btn btn-secondary">Following <span class="badge badge-secondary">4</span></button>
            </div>
            <hr>
            <app-following></app-following>
        </div>
    </div>
</div>