<div class="container">
    <app-extra-search></app-extra-search>
    <app-not-found></app-not-found>
    <div class="page-content" *ngFor="let item of profile; let i = index">
        <div class="card">
            <div class="profile-pic">
                <img src="../../assets/sad icon.png" alt="user pic">
            </div>
            <div class="user-info" style="font-size: 3vmin;">
                <ul>
                    <li>
                        <p><strong>{{item.userName}}</strong></p>
                    </li>
                    <li>
                        <p><strong>{{item.bio}}</strong></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="profile-details">
            <div class="btn-group" style="width:100%">
                <button class="btn btn-secondary" (click)="showRepos(i)">Repos<span class="badge">{{item.repoNumber}}</span></button>
                <button class="btn btn-secondary" (click)="showFollowers(i)">Followers <span class="badge">{{item.followers}}</span></button>
                <button class="btn btn-secondary" (click)="showFollowing(i)">Following<span class="badge">{{item.following}}</span></button>
            </div>
            <hr>
            <app-repo *ngIf="item.showRepo"></app-repo>
            <app-followers *ngIf="item.showFollowers"></app-followers>
            <app-following *ngIf="item.showFollowing"></app-following>
        </div>
    </div>
</div>