.container {
    margin-top: 1rem;
}

.card {
    text-align: center;
}

.user-info {
    text-align: left;
}

.profile-details {
    margin-top: 1rem;
    border: solid black 1px;
    border-radius: 3px;
    text-align: center;
    padding: 2rem;
}