<div class="container">
    <app-extra-search></app-extra-search>
    <app-not-found></app-not-found>
    <div class="page-content">
        <div class="card">
            <div class="profile-pic">
                <img src="../../assets/sad icon.png" alt="user pic">
            </div>
            <div class="user-info" style="font-size: 3vmin;">
                <ul>
                    <li>
                        <p><strong></strong></p>
                    </li>
                    <li>
                        <p><strong></strong></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="profile-details">
            <div class="btn-group" style="width:100%">
                <button class="btn btn-secondary">Repos<span class="badge"></span></button>
                <button class="btn btn-secondary">Followers <span class="badge"></span></button>
                <button class="btn btn-secondary">Following<span class="badge"></span></button>
            </div>
            <hr>
            <app-repo></app-repo>
            <app-followers></app-followers>
            <app-following></app-following>
        </div>
    </div>
</div>